<?php


/**
 * Ce fichier renvoi un tableau avec tout les roles
 * exemple ['role_slug',' role name', ['capability-1','capability-2',...]]
 */

return [

	//['role_slug',' role name', ['capability-1','capability-2']]

];
