<?php

namespace {{dir_namespace}}\Features\Taxonomies;


class {{taxonomy_class}}Taxonomy
{
  public static $slug = '{{taxonomy}}';
  /**
   * Enregistrement de la Taxonomie
   * @return void
   */
  public static function register()
  {

    $labels = [// les labels pour la taxonomie
    'name'                       =>   __( '{{taxonomy_class}}') ,
		'singular_name'              =>   __( '{{taxonomy_class}}') ,
		'search_items'               =>   __( 'Search {{taxonomy_class}}' ) ,
		'popular_items'              =>   null ,
		'all_items'                  =>   __( 'All {{taxonomy_class}}' ) ,
		'parent_item'                =>   __( 'Parent {{taxonomy_class}}' ) ,
		'parent_item_colon'          =>   __( 'Parent {{taxonomy_class}}:' ) ,
		'edit_item'                  =>   __( 'Edit {{taxonomy_class}}' ) ,
		'view_item'                  =>   __( 'View {{taxonomy_class}}' ) ,
		'update_item'                =>   __( 'Update {{taxonomy_class}}' ) ,
		'add_new_item'               =>   __( 'Add New {{taxonomy_class}}' ) ,
		'new_item_name'              =>   __( 'New {{taxonomy_class}} Name' ) ,
		'separate_items_with_commas' =>   null ,
		'add_or_remove_items'        =>   null ,
		'choose_from_most_used'      =>   null ,
		'not_found'                  =>   __( 'No {{taxonomy_class}} found.' ) ,
		'no_terms'                   =>   __( 'No {{taxonomy_class}}' ) ,
		'items_list_navigation'      =>   __( '{{taxonomy_class}} list navigation' ) ,
		'items_list'                 =>   __( '{{taxonomy_class}} list' ) ,
		'most_used'                  =>   __( 'Most Used') ,
		'back_to_items'              =>   __( '&larr; Back to {{taxonomy_class}}' ) ,

    ];
    $args = [
      'hierarchical'      => true,
      'labels'            => $labels,
      'show_ui'           => true,
      'show_admin_column' => true,
      'query_var'         => true,
      'rewrite'           => ['slug' => self::$slug],
    ];
    // ajout de la taxonomie pour le type de contenu recipe
    register_taxonomy(self::$slug, [CustomPostType::$slug], $args);

  }
}
