<?php

namespace {{dir_namespace}}\Features\Taxonomies;

use {{dir_namespace}}\Features\PostTypes\{{taxonomy_class}}PostType;


class {{taxonomy_class}}Taxonomy
{
  public static $slug = '{{taxonomy}}';
  /**
   * Enregistrement de la Taxonomie
   * @return void
   */
  public static function register()
  {

    $labels = [// les labels pour la taxonomie
      'name'              => __(''),
      'singular_name'     => __(''),
      'search_items'      => __(''),
      'all_items'         => __(''),
      'parent_item'       => __(''),
      'parent_item_colon' => __(''),
      'edit_item'         => __(''),
      'update_item'       => __(''),
      'add_new_item'      => __(''),
      'new_item_name'     => __(''),
      'menu_name'         => __(''),
    ];
    $args = [
      'hierarchical'      => true,
      'labels'            => $labels,
      'show_ui'           => true,
      'show_admin_column' => true,
      'query_var'         => true,
      'rewrite'           => ['slug' => self::$slug],
    ];
    // ajout de la taxonomie pour le type de contenu recipe
    register_taxonomy(self::$slug, [CustomPostType::$slug], $args);

  }
}
