<?php

namespace {{dir_namespace}}\Features\Sections;

class {{section_class}}Section
{

	public static $slug = '{{section}}';

  /**
   * Enregistrement de la section
   *
   * @return void
   */
  public static function init()
  {
    add_settings_section(
      self::$slug,
      __('Titre de la section'),
      [self::class, 'render'],
      'page_id'
    );
    self::register_settings();
  }

  /**
   * Cette fonction enregistre les settings qui apparaîtrons dans
	 * la section afin qu'ils puissent être pris en compte lors de la sauvegarde de la page
   *
   * @return void
   */
  public static function register_settings()
  {
    register_setting(
      'page_id',
      self::$slug
    );
  }

  /**
   * fonction pour render le contenu de la section
   */
  public static function render()
  {
    //view('viewpath', compact('data'));
  }
}
