<?php

namespace {{dir_namespace}}\Features\MetaBoxes;

use function {{dir_namespace}}\helpers\update_post_metas;
use function {{dir_namespace}}\Twig\render;

class {{metabox_class}}MetaBox
{

  public static $slug = '{{metabox}}';

  /**
   * Ajout d'une méta box au type de contenu qui sont passer dans le tableau $screens
   * https://developer.wordpress.org/plugins/metadata/custom-meta-boxes/
   *
   * @return void
   */
  public static function add_meta_box()
  {
    $screens = []; // Ajout des slug des posts types associé. Example MonPostType::$slug

    foreach ($screens as $screen) {
      add_meta_box(
        self::$slug,
        __("Titre de la metabox"),
        [self::class, 'render'],
        $screen
      );
    }
  }

  /**
   * Fonction pour rendre le code html dans la metabox
   *
   * @return void
   */
  public static function render($post)
  {
		$data = get_post_meta($post->ID, '');

		// render('path/file',$data); // utilisation de twig dans les thème avec des fichiers.twig
  }

  /**
   * sauvegarde des donners de la métabox
   *
   * @param int $post_id reçu par le do_action
   * @return void
   */
  public static function save(int $post_id)
  {
		$data = [
			// "key_name" => $_POST["input_name"]
		];
		update_post_metas($post_id, $data);
  }
}
