<?php

namespace {{dir_namespace}}\Http\Controllers;

{{#model}}
use {{dir_namespace}}\Http\Models\{{model_class}}Model;
{{/model}}
use function {{dir_namespace}}\Twig\render;

class {{controller_class}}Controller
{
	{{#resource}}
  /**
   * Affiche la page principal
   *
   * @return void
   */
  public static function index()
  {

    //render('viewpath', compact('data'));
  }

  /**
   * Affiche une entré en particulier
   *
   * @return void
   */
  public static function show()
  {

    //render('viewpath', compact('data'));
  }


  /**
   * Affiche un formulaire pour ajouter des données dans la db
   *
   * @return void
   */
  public static function create()
  {

    //render('viewpath', compact('data'));
  }

  /**
   * Affiche un formulaire pour éditer
   *
   * @return void
   */
  public static function edit()
  {

    //render('viewpath', compact('data'));
  }

	 /**
   * Met à jour des données dans la db
   *
   * @return void
   */
  public static function update()
  {
  }

  /**
   * Supprime une entré de la table
   *
   * @return void
   */
  public static function delete()
  {
  }
	{{/resource}}
}
