<?php

namespace {{dir_namespace}}\Providers;

use function {{dir_namespace}}\helpers\config;

class {{provider_class}}Provider
{

	/**
	 *Cette fonction est lancé au chargement du provider
	 *
	 */
  public static function boot()
  {

  }
}
