<?php

namespace {{dir_namespace}}\Providers;

class HooksProvider
{

  public static function boot()
  {
    $hooks  = \{{helper_namespace}}config('hooks');

    $actions = $hooks['actions'];
    $filters = $hooks['filters'];

    // Ajout des actions et filtres
    foreach ($actions as $action) {
      add_action(...$action);
    }

    foreach ($filters as $filter) {
      add_filter(...$filter);
    }
  }
}
