<?php

namespace App\Features\MetaBoxes;

use App\Features\PostTypes\RecipePostType;

class RecipeDetailsMetabox
{

  public static $slug = 'recipe_details_metabox';

  /**
   * Ajout d'une méta box au type de contenu qui sont passer dans le tableau $screens
   * https://developer.wordpress.org/plugins/metadata/custom-meta-boxes/
   *
   * @return void
   */
  public static function add_meta_box()
  {
    $screens = [RecipePostType::$slug];
    foreach ($screens as $screen) {
      add_meta_box(
        self::$slug,           // Unique ID
        __("Détails de la cette"),  // Box title
        [self::class, 'render'],  // Content callback, must be of type callable
        $screen                   // Post type
      );
    }
  }

  /**
   * Fonction pour rendre le code html dans la metabox
   *
   * @return void
   */
  public static function render()
  {
    // Récupération de toutes les meta du post
    // https://developer.wordpress.org/reference/functions/get_post_meta/
    $data = get_post_meta(get_the_ID());
    // Récupération et attribution des valeurs à utiliser pour la view
    $time = extract_data_attr('rat_time_preparation', $data);
    $num_person = extract_data_attr('rat_person_number', $data);

    view('metaboxes/recipe-detail', compact('time', 'num_person'));
  }

  /**
   * sauvegarde des donners de la métabox
   *
   * @param [type] $post_id reçu par le do_action
   * @return void
   */
  public static function save($post_id)
  {
    // On verifie que $_POST ne soit pas vite pour effectuer l'action uniquement à la sauvegarde du post Type
    if (count($_POST) != 0) {
      // on ajoute sanitize pour sécurizer les valeurs receuilli par l'utilisateur
      // https://developer.wordpress.org/themes/theme-security/data-sanitization-escaping/
      $data = [
        'rat_time_preparation' => post_data('rat_time_preparation', $_POST),
        'rat_person_number' => post_data('rat_person_number', $_POST),
      ];
      // enregistrement de toutes les valeurs grâce au helper
      update_post_metas($post_id, $data);
    }
  }
}
