<?php

use {{plugin_namespace}}\Providers\ServicesProvider;
use {{plugin_namespace}}\Setup;

// Setup de l'application
Setup::init();

//Chargement des services providers
ServicesProvider::register();
