{
	"name": "{{plugin_name}} plugin",
  	"description": "new {{ theme_name }} plugin",
	"autoload": {
			"psr-4": {
					"{{plugin_namespace}}\\": "{{plugin_namespace}}/"
			},
			"files": [
					"env.php",
					"helpers.php",
					"bootstrap.php"
			]
	}
}
