<?php

/**
 * ce fichier renvoi un tableau avec tout les providers que l'on souhaite charger
 */

return [
  \{{plugin_namespace}}\Providers\FeaturesProvider::class,
  \{{plugin_namespace}}\Providers\RoutesProvider::class,
  \{{plugin_namespace}}\Providers\HooksProvider::class,
];
