<?php

namespace {{plugin_namespace}}\Http\Middlewares;

class {{middleware_class}}Middlewares
{
  /**
   * Vérification d'accès et redirection si il n'y a pas les droits avec un "exit" pour arrêter le script
   *
   * @return void
   */
  public static function check()
  {

  }
}
