<?php


/**
 * Dans ce fichier nous mettons tout les hooks (action et filter) qui pourrait-être utiliser dans l'application
 * exemple ['hook_name',[ClassName::class,'methode']]
 */

return [
  /**
   * Ajout des hooks action
   */
  'actions' => [

  ],



  /**
   * Ajout des hooks filtre
   */
  'filters' => [

	]
];
