<?php


/**
 * Ce fichier renvoi un tableau avec tout les features (éléments propre à wordpress). Ce tableau est constituer de tableaux qui contienne les paramêtres qui seront passé à une fonction 'add_action'.
 * exemple ['hook_name',[ClassName::class,'methode']]
 */

return [

];
