<?php

namespace {{plugin_namespace}}\Database;

class Database
{

  /**
   * Méthode qui lance les migrations afin que chacune créé sa table dans la base de donnée.
   *
   * @return void
   */
  public static function create()
  {
		### CREATE TABLE ###

  }

	/**
   * Méthode qui lance les migrations afin que chacune supprime sa table dans la base de donnée.
   *
   * @return void
   */
  public static function drop()
  {
		### DROP TABLE ###

  }

}
