<?php
/**
 * Fonction that render a twig template
 *
 * @param string $file path of the twig file
 * @param array $data an array of data to be sended to the twig file
 * @return void
 */
function render($file, $data)
{
  $environment_options = \Theme\config("twig-env");

  // Defining the root path of the active theme
  $template_dir = get_template_directory();

  // Creating the loader for the file with the base path for those files
  $loader = new \Twig\Loader\FilesystemLoader($template_dir . '/resources/views');

  // Creating The twig object to be use in the function render()
  $twig = new \Twig\Environment($loader, $environment_options);

  // Making twig able to call wordpress functions
  $function = new \Twig\TwigFunction('func', function ($function_name, ...$args) {
    return call_user_func($function_name, ...$args);
  });
  $twig->addFunction($function);

  $twig->addGlobal("menu", wp_nav_menu(['echo' => false]));

  echo $twig->render($file, $data);
}
