<?php

return [
  // 'post-formats',
  // 'post-thumbnails',
  // 'html5',
  // 'custom-logo',
  // 'custom-header-uploads',
  // 'custom-header',
  // 'custom-background',
  // 'title-tag',
  // 'starter-content',
  // 'responsive-embeds'
  // 'menu'
];
