<?php

/**
 * ce fichier renvoi un tableau avec tout les providers que l'on souhaite charger
 */

return [
  \{{theme_namespace}}\Providers\FeaturesProvider::class,
  \{{theme_namespace}}\Providers\RoutesProvider::class,
  \{{theme_namespace}}\Providers\HooksProvider::class,
  \{{theme_namespace}}\Providers\MenusProvider::class,
  \{{theme_namespace}}\Providers\SupportsProvider::class,
  \{{theme_namespace}}\Providers\ImageSizesProvider::class,
  \{{theme_namespace}}\Providers\ScriptsProvider::class,
];
