<?php
namespace {{theme_namespace}}\helpers;

function config($file)
{
  return include(get_template_directory() . "/config/$file.php");
}

/**
 * Enregistrement de toutes les valeurs du tableau en utilisant leur key comme meta key dans la base de donnée
 *
 * @param [type] $post_id id du post courant
 * @param [type] $data tableau de valeurs de la metabox
 * @return void
 */
function update_post_metas($post_id, $data)
{
  foreach ($data as $key => $value) {
    // https://developer.wordpress.org/reference/functions/update_post_meta/
    update_post_meta($post_id, $key, $value);
  }
}
