<?php

namespace {{theme_namespace}}\Http\Models;


class {{model_class}}Model extends Model
{

  // les propriétés de l'objet model. Les propriété de l'objet qui sont représentative de la structure de la table dans la base de donnée.
	// Example :

	//public $id;

  protected static $table = 'table-name'; // le nom de la table sans le prefix

  /**
   * Fonction qui est appelé lors de l'instance d'un objet.
   */
  public function __construct()
  {

  }


}
