<?php

namespace {{theme_namespace}}\Http\Models;


class Model
{

 /**
   * fonction qui prend en charge la sauvegarde du mail dans la base de donnée.
   *
   * @return void
   */
  public function save()
  {
    global $wpdb;

    return $wpdb->insert(
      $wpdb->prefix . self::$table,
      get_object_vars($this)

    );
  }

  /**
   * Fonction qui va chercher toutes les entrées de la table
   *
   * @return array
   */
  public static function all()
  {
    global $wpdb;
    $table = $wpdb->prefix . self::$table;
    $query = "SELECT * FROM $table";
    return $wpdb->get_results($query);
  }

  /**
   * fonction qui va cherche l'entré de la table qui à l'id correspondant
   *
   * @param [type] $id
   * @return object
   */
  public static function find($id)
  {
    global $wpdb;
    $table = $wpdb->prefix . self::$table;
    $query = "SELECT * FROM $table WHERE id = $id";
    $objet = $wpdb->get_row($query);
    $instance = new self();
    foreach ($objet as $key => $value) {
      $instance->$key = $value;
    }

    return $instance;
  }

  /**
   * fonction qui va mettre à jour l'entré dans la base de donnée
   *
   * @return boolean
   */
  public function update()
  {
    global $wpdb;
    return $wpdb->update(
      self::$table,
      get_object_vars($this),
      ['id' => $this->id]
    );
  }

  /**
   * fonction qui supprime une entré dans la base de donnée
   *
   * @param [type] $id
   * @return void
   */
  public static function delete($id)
  {
    global $wpdb;
    return $wpdb->delete(
      self::$table,
      [
        'id' => $id
      ]
    );
  }


}
