<?php

namespace {{theme_namespace}}\Providers;

class RoutesProvider
{

  public static function boot()
  {
    $routes  = include(get_template_directory() . '/routes/action.php');

    //On charge les différentes types de routes d'action
    foreach ($routes as $key => $actions) {
      foreach ($actions as $action) {
        $action[0] = $key . '_' . $action[0];
        add_action(...$action);
      }
    }
  }
}
