<?php

namespace {{ theme_namespace }}\Providers;

use function {{theme_namespace}}\helpers\config;

class SupportsProvider
{

  public static function boot()
  {
    add_action('after_setup_theme', [self::class, 'add']);
  }


  public static function add()
  {
    $supports  = config('supports');

    foreach ($supports as $support) {
      add_theme_support($support);
    }
  }
}
